.aw-pictab {
  .tab-content {
    padding-top: 10px;
  }
  .picTabPage {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .tabToolsPanel {
    table {
      width: 100%;
    }
  }
  .pane {
    width: 100%;
    position: relative;
    height: 502px;
  }
  .pane > .canvas {
    position: absolute;
    height: 502px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: top left right;
  }

  .pane .commentFeature {
    position: absolute;
    width: 300px;
    background-color: #FFF;
    border: 1px solid #000;

    .bclose {
      position: absolute;
      right: 1px;
      top: 1px;
      cursor: pointer;
    }

    .info {
      font-size: .9em;
      color: #999;
      margin: 2px 5px;
    }

    .text,
    textarea {
      padding: 0;
      margin: 5px;
      font-family: Verdana, sans-serif, Arial, FreeSans;
      font-size: 12px;
      line-height: 1.1em;
    }

    .text {
      min-height: 10px;
    }

    textarea {
      width: 185px;
      height: 60px;
      border: none;
    }
  }
}

