.aw-pictab {
  .tab-content {
    padding-top: 10px;
  }
  .picTabPage {
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .tabToolsPanel {
    table {
      width: 100%;
    }
  }
  .pane {
    width: 100%;
    position: relative;
    height: 502px;
  }
  .pane > .canvas {
    position: absolute;
    height: 502px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: top left right;
  }
}